@import "@fontsource-variable/hanken-grotesk/wght.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primitive Colors */
    --white: 0 0% 100%; /* hsla(0, 0%, 100%, 1) */
    --black: 0 0% 0%; /* hsla(0, 0%, 0%, 1) */
    --charcoal: 0 0% 13%; /* hsla(0, 0%, 13%, 1) */
    --mango: 50 98% 64%; /* hsla(50, 98%, 64%, 1) */
    --lime: 89 78% 46%; /* hsla(89, 78%, 46%, 1) */
    --strawberry: 0 86% 66%; /* hsla(0, 86%, 66%, 1) */
    --bubblegum: 205 98% 57%; /* hsla(205, 98%, 57%, 1) */
    --dark-bubblegum: 205 79% 51%; /* hsla(205, 79%, 51%, 1) */

    --gray-950: 225 14% 11%; /* hsla(225, 14%, 11%, 1) */
    --gray-900: 213 15% 14%; /* hsla(213, 15%, 14%, 1) */
    --gray-800: 212 13% 20%; /* hsla(212, 13%, 20%, 1) */
    --gray-600: 212 10% 35%; /* hsla(212, 10%, 35%, 1) */
    --gray-500: 220 9% 46%; /* hsla(220, 9%, 46%, 1) */
    --gray-400: 219 7% 58%; /* hsla(219, 7%, 58%, 1) */
    --gray-250: 0 0% 85%; /* hsla(0, 0%, 85%, 1) */
    --gray-200: 220 13% 91%; /* hsla(220, 13%, 91%, 1) */
    --gray-050: 0 0% 97%; /* hsla(0, 0%, 97%, 1) */

    --green-150: 155 51% 88%; /* hsla(155, 51%, 88%, 1) */
    --green-200: 112 46% 83%; /* hsla(112, 46%, 83%, 1) */
    --green-600: 155 75% 40%; /* hsla(155, 75%, 40%, 1) */
    --blue-200: 213 97% 87%; /* hsla(213, 97%, 87%, 1) */
    --blue-800: 226 71% 40%; /* hsla(226, 71%, 40%, 1) */
    --red-100: 0 93% 94%; /* hsla(0, 93%, 94%, 1) */
    --red-600: 0 72% 51%; /* hsla(0, 72%, 51%, 1) */
    --orange-200: 32 98% 83%; /* hsla(32, 98%, 83%, 1) */

    /* Color Tokens (can be different in light/dark mode) */
    --text-primary: var(--charcoal);
    --text-secondary: var(--gray-500);
    --text-tertiary: var(--gray-600);
    --text-invert: var(--white);
    --text-button-outline: var(--charcoal);
    --text-feedback-negative: var(--red-600);
    --text-feedback-positive: var(--green-600);
    --text-feedback-info: var(--blue-800);

    --surface-primary: var(--white);
    --surface-secondary: var(--charcoal);
    --surface-lime: var(--lime);
    --surface-strawberry: var(--strawberry);
    --surface-bubblegum: var(--bubblegum);
    --surface-dark-bubblegum: var(--dark-bubblegum);

    --surface-button-primary: var(--charcoal);
    --surface-button-secondary: var(--gray-200);
    --surface-button-accent: var(--mango);
    --surface-button-outline: var(--white);

    --surface-background-primary: var(--gray-050);
    --surface-background-secondary: var(--charcoal);
    --surface-background-tertiary: var(--gray-200);

    --surface-feedback-positive-light: var(--green-150);
    --surface-feedback-positive-light-secondary: var(--green-200);
    --surface-feedback-positive-dark: var(--green-600);
    --surface-feedback-negative-light: var(--red-100);
    --surface-feedback-negative-dark: var(--red-600);
    --surface-feedback-pending-light: var(--orange-200);
    --surface-feedback-info-light: var(--blue-200);
    --surface-feedback-neutral-light: var(--gray-200);

    --border-primary: var(--gray-250);
    --border-primary-hover: var(--gray-500);
    --border-card-active: var(--charcoal);
    --border-feedback-negative: var(--red-600);
    --border-feedback-positive: var(--green-600);

    /* Other */
    --radius: 0.5rem;

    --sidebar-background: var(--charcoal);
    --sidebar-foreground: var(--white);
    --sidebar-primary: var(--mango);
    --sidebar-primary-foreground: var(--charcoal);
    --sidebar-accent: var(--mango);
    --sidebar-accent-foreground: var(--charcoal);
    --sidebar-border: var(--gray-250);
    --sidebar-ring: var(--black);
  }
  .dark {
    --text-primary: var(--charcoal);
    --text-secondary: var(--gray-500);
    --text-tertiary: var(--gray-600);
    --text-invert: var(--white);
    --text-button-outline: var(--charcoal);
    --text-feedback-negative: var(--red-600);
    --text-feedback-positive: var(--green-600);
    --text-feedback-info: var(--blue-800);

    --surface-primary: var(--white);
    --surface-secondary: var(--charcoal);
    --surface-lime: var(--lime);
    --surface-strawberry: var(--strawberry);
    --surface-bubblegum: var(--bubblegum);
    --surface-dark-bubblegum: var(--dark-bubblegum);

    --surface-button-primary: var(--charcoal);
    --surface-button-secondary: var(--gray-200);
    --surface-button-accent: var(--mango);
    --surface-button-outline: var(--white);

    --surface-background-primary: var(--gray-050);
    --surface-background-secondary: var(--charcoal);
    --surface-background-tertiary: var(--gray-200);

    --surface-feedback-positive-light: var(--green-150);
    --surface-feedback-positive-light-secondary: var(--green-200);
    --surface-feedback-positive-dark: var(--green-600);
    --surface-feedback-negative-light: var(--red-100);
    --surface-feedback-negative-dark: var(--red-600);
    --surface-feedback-pending-light: var(--orange-200);
    --surface-feedback-info-light: var(--blue-200);
    --surface-feedback-neutral-light: var(--gray-200);

    --border-primary: var(--gray-250);
    --border-primary-hover: var(--gray-500);
    --border-card-active: var(--charcoal);
    --border-feedback-negative: var(--red-600);
    --border-feedback-positive: var(--green-600);

    --sidebar-background: var(--charcoal);
    --sidebar-foreground: var(--white);
    --sidebar-primary: var(--mango);
    --sidebar-primary-foreground: var(--charcoal);
    --sidebar-accent: var(--mango);
    --sidebar-accent-foreground: var(--charcoal);
    --sidebar-border: var(--gray-250);
    --sidebar-ring: var(--black);
  }
}

@layer base {
  * {
    @apply border-border-primary;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
